/* **** DEFAULT SETTINGS **** */
html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: #161e3a;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
    line-height: 1.4;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
}

h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 2;
}

a {
    color: #141e3c;
}

a:hover {
    color: #D2AA5A;
    transition: all 0.3s ease-in-out;
}

/* **** Main Wrappers & Containers **** */
#wrapper {
    width: 100vw;
    min-width: 100vw;
    height: 100vh;
    min-height: 100vh;
}

#login-wrapper {
    background: linear-gradient(90deg, #141E30, #243B55);
}

.header {
    height: 15vh;
    background: linear-gradient(90deg, #141E30, #243B55);
}

.button-container {
    height: 15vh;
}

.table-container {
    height: 70vh;
    max-height: 70vh;
    overflow: auto;
}

.preview-print-container {
    width: 1024px;
    height: auto;
    margin-left: 0;
    margin-right: 0;
    overflow: auto;
}

/* **** LOGIN FORM DESIGN **** */
#login-wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #141E30;
}

#login-form {
    border-radius: 10px;
    padding: 5rem 2rem;
    background: linear-gradient(90deg, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
}

#login-form h2 {
    margin-bottom: 2rem;
}

#emailInput,
#passwordInput {
    border: none;
    font-size: inherit;
    color: #D2AA5A;
    padding: 0.7rem 0.5rem;
    background: linear-gradient(90deg, #141E30, #243B55);
}

.bi-x-lg {
    width: 3em;
    height: 3em;
    color: #D2AA5A;
    border: 3px solid #D2AA5A;
    border-radius: 50%;
    padding: 1rem;
    cursor: pointer;
}

.bi-x-lg:hover {
    color: #FBF5B7;
    border: 3px solid #FBF5B7;
    transition: all 0.3s ease-in-out;
}

/* **** ADMINISTRATIONS PAGE DESIGN **** */
#admin-page-wrapper {
    background: linear-gradient(90deg, #141E30, #243B55);
}

#admin-wrapper-top {
    width: 100%;
    height: 40vh;
}

.card {
    border: none;
}

.card-header,
.card-body,
.card-footer,
.form-select {
    background: linear-gradient(90deg, #ECE9E6, #FFFFFF);
}

.card-header {
    border-bottom: 2px solid #161e3a;
}

.card-footer {
    border-top: 2px solid #161e3a;
}

#select-form-input {
    font-size: inherit;
}

.form-select {
    border: 2px solid #161e3a;
}

.form-select:focus {
    border: 2px solid #141e3c;
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.form-select option:hover,
.form-select option:checked {
    background-color: #161e3a;
    color: #D2AA5A;
}

#admin-wrapper-bottom {
    width: 100%;
    height: 60vh;
}

* **** TABLE DESIGN **** */
.table {
    color: #141e3c;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

tbody tr:hover {
    background-color: #141e3c;
    color: #D2AA5A;
    font-weight: 700;
}

thead tr th,
tbody tr td {
    text-align: center;
}

/* **** BOOTSTRAP CLASSES **** */
.btn {
    background: linear-gradient(90deg, #141E30, #243B55);
    color: #D2AA5A;
    padding: 1.6rem 5.2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 0.375rem;
    border: none;
}

.btn:hover {
    color: #141e3c;
    background: repeating-linear-gradient(to left, #BF953F 0%, #FCF6BA 8%, #AA771C 100%);
    font-weight: 400;
    text-decoration: underline;
    border-radius: 0.375rem;
    transition: all 0.3s ease-in-out;
    border: none;
}

.btn:active {
    background-color: #141e3c;
    color: #D2AA5A;
    text-decoration: underline;
}

.btn:focus {
    background-color: #141e3c;
    color: #D2AA5A;
    text-decoration: underline;
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.btn-close:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.form-control {
    font-size: 1.6rem;
    color: #141e3c;
    border: 2px solid #141e3c;
}

.form-control:focus {
    background: linear-gradient(90deg, #141E30, #243B55);
    color: #D2AA5A;
    border: 2px solid #D2AA5A;
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.bi-tools,
.bi-x-square-fill,
.bi-printer-fill,
.bi-gear-fill {
    cursor: pointer;
}

/* **** MODAL DESIGN **** */
.modal-header {
    background-color: #141e3c;
    color: #D2AA5A;
}

.modal-header h3 {
    font-weight: 600;
    text-transform: uppercase;
}

.btn-close {
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23D2AA5A'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}

/* **** MEDIA QUERIES **** */
@media only screen and (max-width: 991px) {
    body {
        overflow-y: auto;
        overflow-x: hidden;
    }

    .header {
        height: 25vh;
        max-height: 25vh;
    }

    .button-container {
        height: 25vh;
        max-height: 25vh;
    }

    .table-container {
        height: 50vh;
        max-height: 50vh;
        overflow: auto;
        padding: 0rem 2rem;
    }

    .table {
        font-size: 1.3rem;
    }

    .btn {
        font-size: 1.3rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        padding: 1.2rem 5rem;
        width: 100%;
    }

    #login-wrapper {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .bi-tools,
    .bi-x-square-fill {
        width: 1.4rem;
        height: 1.4rem;
    }

    .bi-printer-fill,
    .bi-gear-fill {
        width: 1.5rem;
        height: 1.5rem;
    }
}