/* **** DEFAULT SETTINGS **** */
html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: #161e3a;
}

a {
    color: #141e3c;
}

a:hover {
    color: #D2AA5A;
    transition: all 0.3s ease-in-out;
}

#wrapper {
    width: 100vw;
    min-width: 100vw;
    height: 100vh;
    min-height: 100vh;
}

.header {
    height: 15vh;
    background-color: #141e3c;
}

.button-container {
    height: 15vh;
}

/* **** TABLE DESIGN**** */
.table-container {
    height: 70vh;
    max-height: 70vh;
    overflow: auto;
}

.table {
    color: #141e3c;
    text-align: center;
}

.td:hover {
    background-color: black;
}

/* **** BOOTSTRAP CLASSES **** */
.btn {
    background-color: #141e3c;
    color: #D2AA5A;
    padding: 1.6rem 5.2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 0.375rem;
    border: none;
}

.btn:hover {
    color: #ffffff;
    background-color: #D2AA5A;
    text-decoration: underline;
    border-radius: 0.375rem;
    transition: all 0.3s ease-in-out;
    border: none;
}

.btn:active {
    background-color: #141e3c;
    color: #D2AA5A;
    text-decoration: underline;
}

.btn:focus {
    background-color: #141e3c;
    color: #D2AA5A;
    text-decoration: underline;
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.btn-close:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

/* **** MODAL DESIGN **** */
.modal-header {
    background-color: #141e3c;
    color: #D2AA5A;
}

.modal-header h3 {
    font-weight: 600;
    text-transform: uppercase;
}

.btn-close {
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23D2AA5A'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}

/* **** MEDIA QUERIES **** */
@media only screen and (max-width: 991px) {
    body {
        overflow-y: auto;
        overflow-x: hidden;
    }

    .header {
        height: 25vh;
        max-height: 25vh;
    }

    .button-container {
        height: 25vh;
        max-height: 25vh;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .table-container {
        height: 25vh;
        max-height: 25vh;
        overflow: auto;
    }

    .btn {
        font-size: 1.2rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        padding: 1.2rem;
    }
}